trigger: none  # Continuous integration triggers.
pool: assignment_test # Pool where jobs in this pipeline will run unless otherwise specified.
steps: 
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
    