trigger: none 
pool: assignment_test 
steps: 
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  displayName : Terraform Init
  inputs:  
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
    backendServiceArm: 'svc'
    backendAzureRmStorageAccountName: 'assignementstorage1'
    backendAzureRmContainerName: 'assignment'
    backendAzureRmKey: 'terraform.tfstate'
